{% include "base.html.twig" %}

{% block body %}
<script> 
</script>
<table class="table table-dark">
    <thead>
    <tr>
        <td> Title </td> 
        <td> Description </td>
        <td> More Action </td>  
    </tr>
    </thead>
    <tbody>
{% for user in output %}
    <tr> 
        <td> {{ user.title }} </td>
        <td> {{ user.description }} </td>
        <td> <button class="button"> <a href="show/{{user.id}}"> Show </a></button> 
        <button class="button"> <a href="delete/{{user.id}}"> Delete </a></button> </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
