{% include "base.html.twig" %}

{% block body %}

<div class="card">
    <div class="card-header">
        {{ data.title }}
    </div>
    
    <div class="card-body">
        {{ data.description }}
    </div>
</div>


{% endblock %}
